.login-main-container {
  display: flex;
  /* flex-wrap: wrap; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #023047;
  height: 1024px;
}
.login-subcontainer1 {
  width: 54.167%;
  padding: 0px 165px;
}
.login-heading {
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.09em;
  margin-bottom: 20px;
  margin-top: 200px;
}
.login-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 41px;
}
.login-small {
  color: #138ecb;
  text-decoration: underline;
}
.login-form{
    margin-bottom: 20px;
}
.login-label{
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  display: inline-block;
  
}
.login-input1 {
  margin-bottom: 20px;
}
.login-input {
  margin-top: 10px;
  /* width: 57.051%; */
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: inherit;
  outline: none;
}
.input-container{
  position: relative;
}
.input-error-message{
  position: absolute;
  top: 47%;
  right: 0%;
  color: firebrick;
}
.label-show{
    color: #138ECB;
    font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  margin-left: 68%;
  cursor: pointer;
}
.login-subcontainer2 {
  width: 45.833%;
  position: relative;
  background: #fb8500;
}
.sub2-image {
    max-width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;

}
.login-page-container{
  height: 1024px;
}
.login-nav-position{
  position: relative;
  top: -990px;
}


@media screen and (max-width: 1244px) {
  .login-subcontainer1 {
    padding: 0px 50px;
  }
  .label-show{
    color: #138ECB;
    font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  margin-left: 70%;
}
}
 @media screen and (max-width: 945px) {
  .label-show{
  margin-left: 67%;
}
}
@media screen and (max-width: 876px) {
  .label-show{
  margin-left: 65%;
}
}

@media screen and (max-width: 836px) {
  .label-show{
    
  margin-left: 60%;
}
}
@media screen and (max-width: 768px) {
  .login-main-container{
    height: 900px;
  }
  .login-page-container{
    height: 900px;
  }
  .login-subcontainer1 {
    padding: 0px 50px;
  }
  .login-nav-position{
    position: relative;
    top: -860px;
  }
  .label-show{
  margin-left: 55%;
}
}
@media screen and (max-width: 692px) {
  .label-show{
    margin-left: 50%;
  }
}
@media screen and (max-width: 641px) {
  .label-show{
    margin-left: 40%;
  }
}
@media screen and (max-width: 565px) {
  .label-show{
    margin-left: 30%;
  }
}
@media screen and (max-width: 599px) {
  .login-main-container{
    height: 800px;
  }
  .login-page-container{
    height: 800px;
  }
  .login-subcontainer1{
    padding: 0px 30px;
  }
  .login-input{
    height: 40px;
  }
  .login-nav-position{
    position: relative;
    top: -760px;
  }
}
@media screen and (max-width: 511px) {
  .label-show{
    margin-left: 20%;
  }
}
/* @media screen and (max-width: 450px) {
  .login-main-container{
    height: 700px;
  }
  .login-page-container{
    height: 700px;
  }
  .login-subcontainer1{
    padding: 0px 15px;
  }
  .login-input{
    height: 35px;
  }
  .login-nav-position{
    position: relative;
    top: -660px;
  }
}  */
@media screen and (max-width: 500px) {
  .login-main-container{
    height: 700px;
  }
  .login-page-container{
    height: 700px;
  }
  .login-subcontainer1{
    padding: 0px 15px;
  }
  .login-input{
    height: 35px;
  }
  .login-nav-position{
    position: relative;
    top: -660px;
  }
  .login-subcontainer1{
    width: 100%;
  }
  .login-subcontainer2{
    display: none;
  }
  .login-heading{
    margin-top: 160px;
  }
  .label-show{
    margin-left: 60%;
  }
} 
@media screen and (max-width: 409px) {
  .label-show{
    margin-left: 50%;
  }
}
@media screen and (max-width: 347px) {
  .label-show{
    margin-left: 40%;
  }
}
