.offer-container {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-align: start;
  position: relative;
  bottom: 0px;
  /* margin-bottom: 20px; */
}
.offer-image {
  width: 277px;
  height: 167px;
  background: #f2f6fc;
  border-radius: 10px;
}
.offer-heading {
  font-size: 14px;
  line-height: 11px;
  margin: 38px 0px 24px 0px;
}
.offer-paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 242px;
}

.offer-container:hover,
.offer-container:active,
.offer-container:focus {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  width: 303px;
  height: 385px;
  padding: 39px 12px 40px 12px;
  bottom: 40px;
}
.offer-heading:hover,
.offer-heading:active,
.offer-heading:focus {
  color: #6c63ff;
}
