.footer-ul {
  list-style-type: none;
  margin-top: 100px;
}
.footer-ul li a {
  text-decoration: none;
  color: #000000;
}
.footer-container {
  background-color: #efeeea;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 167px;
}
.item-bold {
  font-weight: bold;
  margin-bottom: 23px;
}
.arrow {
  margin-left: 5px;
  width: 17px;
  color: #000000;
}
.foot-list-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 12px;
  max-width: 170px;
}
.footer-margin {
  margin-bottom: 77px;
}
.courier {
  margin-right: 5px;
}

@media screen and (max-width: 1394px) {
  .footer-container {
    padding: 0px 130px;
  }
}
@media screen and (max-width: 1356px) {
  .footer-container {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1294px) {
  .footer-container {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 954px) {
  .footer-container {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 851px) {
  .last-div {
    display: flex;
  }
}
@media screen and (max-width: 678px) {
  .footer-container {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 515px) {
  .footer-container {
    justify-content: space-around;
  }
}
/* @media screen and (max-width: 459px) {
  .footer-container {
    padding: 0px 50px;
  }
} */
@media screen and (max-width: 428px) {
  .last-div {
    justify-content: space-between;
  }
}
/* @media screen and (max-width: 392px) {
  .footer-container {
    padding: 0px 30px;
  }
} */
@media screen and (max-width: 352px) {
  .footer-container {
    padding: 0px 10px;
  }
}
