.signup-main-container {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #023047;
  height: 1024px;
}
.signup-subcontainer1 {
  width: 54.167%;
  padding: 0px 95px 0px 165px;
}
.signup-heading {
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.09em;
  margin-bottom: 20px;
  margin-top: 130px;
}
.signup-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 41px;
}
.signup-small {
  color: #138ecb;
}
.signup-form {
  margin-bottom: 20px;
}
.signup-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
}
.signup-input1 {
  margin-bottom: 20px;
}
.signup-input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #023047;
}
.input-space {
  margin-bottom: 40px;
}
.label-show {
  /* margin-left: auto; */
  color: #138ecb;
}

.checkbox {
  margin-right: 12px;
  height: 22px;
  width: 22px;
}
.label-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.signup-paragraph {
  margin: 40px 0px 30px 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.signup-subcontainer2 {
  width: 45.833%;
  position: relative;
  background: #fb8500;
}
.sub2-image {
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.btn-signup {
  border: 1px solid #023047;
}
.signup-page-container{
  height: 1024px;
}

.signup-nav-position{
  position: relative;
  top: -990px;
  /* left: 12%; */
}
@media screen and (max-width: 1244px) {
  .signup-subcontainer1 {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 599px) {
  .signup-subcontainer1{
    padding: 0px 30px;
  }
  .signup-input{
    height: 35px;
  }
  .checkbox {
    margin-right: 12px;
    height: 18px;
    width: 18px;
  }
}
@media screen and (max-width: 566px) {
  .signup-heading{
    font-size: 40px;
  }
  
}

@media screen and (max-width: 450px) {
  .signup-subcontainer1{
    padding: 0px 15px;
  }
  .signup-input{
    height: 30px;
  }
}

@media screen and (max-width: 320px) {
  .signup-heading{
    font-size: 36px;

  }
}

