/* .nav-trial{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
} */
.nav-flex{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-family: 'Montseratt', sans-serif;
    padding: 0px 105px;
    width: 100%;
}
.nav-logo{
    margin-right: auto;}
.nav-list{
    padding-right: 45px;
    height: 13vh;
    cursor: pointer;
}
.list-color{
    color: #fff;
}
.nav-item, .hide-glass{
    margin-top: 10px;
}
.nav-margin{
    padding-right: 26px;
}
.last-list-pad{
    padding-right: 0px;
}
.hamburger, .times{
    font-size: 30px;
    order: 2;
}
.show-hamburger{
    display: none;
}
.btn-position{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .nav-flex{
        padding: 0px 50px;
    }
    .nav-list{
        padding-right: 20px;
    }
    .last-list-pad{
        padding-right: 0px;
    }
}
/* @media screen and (max-width: 850px) {
    .nav-flex{
        padding: 0px 20px;
    }
} */
@media screen and (max-width: 821px) {
    .nav-flex{
        padding: 0px 20px;
    }
}

@media screen and (max-width: 768px) {
    

    .nav-item{
        order: 3;
        width: 100%;
        text-align: center;          
    }
    .show-hamburger{
        display: block;
        order: 0
    }
    .last-list-pad{
        padding-right: 10px;
    }
    .list-color{
        color: #000;
    }
    .nav-item{
        display: none;
    }
    .active{display: inline-block;}
    .button-display{
        display: inline-block;
    }
}
@media screen and (max-width: 468px) {
    
    .nav-list{
        width: 100vw;
        text-align: center;
    }
    .hide-glass{
        display: none;
    }
    .hamburger, .times{
        font-size: 30px;
        order: 0;
    }
    .btn-position{
        order: 5;

    }
    .hide-btn{
        display: none;
    }
    .active{
        display: block;
    }

} 



/* .nav-item{
        position: fixed;
        width: 280px;
        max-width: 70%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 200;
        background-color: blue;
        transition: transform 0.3s ease-out;
    }
    .open{
        transform: translateX(0)
    }
    .close{
        transform: translateX(-100);
    }

    

    /* @media screen and (max-width: 768px){
    .nav-container{
        font-family: "Montserrat", sans-serif;
        display: block;
        /* flex-wrap: wrap;
        justify-content: space-between; */
        /* list-style-type: none; */
        /* font-family: 'Montseratt', sans-serif; */
        /* padding: 0px 105px; */
        /* width: 100%; */
    /* } */
    /* .nav-menu{
        list-style-type: none;
        display: none;
        text-align: center; */
        /* order: 4; */
        /* display: none; */
        /* position: fixed;
        width: 280px;
        max-width: 70%;
        height: 100%; */
        /* right: 0; */
        /* top: 40px; */
        /* z-index: 200;
        background-color: #fb8500;
        transition: transform 0.3s ease-out;
    }
    .navItem{
        padding: 20px 0px;
    }
    .nav-btn{
        display: none;
    }
    .show-hamburger{
        position: absolute;
        top: 10px;
        right: 0px;
    }
} */

    /* @media screen and (min-width: 769px) {
        .nav-container{
            font-family: "Montserrat", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            font-family: 'Montseratt', sans-serif;
            
        }
        .nav-menu{
            list-style-type: none;
            display: flex;
            align-items: center;
            margin-left: auto;
        } 
        .show-hamburger{
            display: none;
        }
        .navItem{
            padding-right: 26px;
        }
    } */
    