/* .nav-trial{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
} */
.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;

}
.nav-trial{
    z-index: 100;
    position: relative;
    height: 100px;
}
.nav-flex{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-family: 'Montseratt', sans-serif;
    padding: 0px 105px;
    width: 100%;
}
.nav-logo{
    margin-right: auto;}
.nav-list{
    padding-right: 45px;
    /* height: 13vh; */
    cursor: pointer;
}
.list-color{
    color: #fff;
}
.nav-item, .hide-glass{
    margin-top: 10px;
}
.nav-margin{
    padding-right: 26px;
}
.last-list-pad{
    padding-right: 0px;
}
.hamburger, .times{
    font-size: 30px;
    order: 2;
}
.show-hamburger{
    display: none;
}
.btn-position{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .nav-flex{
        padding: 0px 50px;
    }
    .nav-list{
        padding-right: 20px;
    }
    .last-list-pad{
        padding-right: 0px;
    }
}
/* @media screen and (max-width: 850px) {
    .nav-flex{
        padding: 0px 20px;
    }
} */
@media screen and (max-width: 821px) {
    .nav-flex{
        padding: 0px 20px;
    }
}

@media screen and (max-width: 768px) {
    .show-backdrop{
        display: block;
    }
    /* .nav-list{
        border-bottom: 2px solid rgba(10,100,145,0.5); 
        border-width: 5px;
        padding-top: 25px; 
    } */
    .nav-item{
        order: 3;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgba(10,100,145,0.5); 
        border-width: 5px;
        padding-top: 25px;     
    }
    .show-hamburger{
        display: block;
        order: 0
    }
    .last-list-pad{
        padding-right: 10px;
    }
    .list-color{
        color: #000;
    }
    .nav-item{
        display: none;
    }
    .active{display: inline-block;}
    .button-display{
        display: inline-block;
        border-bottom: none;
    }
}
@media screen and (max-width: 468px) {
    
    .nav-list{
        width: 100vw;
        text-align: center;
        border-bottom: 2px solid rgba(10,100,145,0.5); 
        border-width: 5px;
        padding-top: 25px;
    }
    .hide-glass{
        display: none;
    }
    .hamburger, .times{
        font-size: 30px;
        order: 0;
    }
    .btn-position{
        order: 5;

    }
    .hide-btn{
        display: none;
    }
    .active{
        display: block;
    }

} 



    