.select-class {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0px 140px;
}
.account-heading {
  text-align: start;
  margin: 30px 0px 20px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 11px;
  letter-spacing: -0.04em;
  color: #023047;
}
.head-list {
  list-style-type: none;
  display: flex;
  text-align: start;
  border-bottom: 1px solid #dedddc;
  font-size: 14px;
  line-height: 11px;
}
.list-item {
  margin-bottom: 8px;
  padding-right: 8.59px;
  color: #d0bab8;
}
.item-plan {
  color: #023047;
  font-weight: 700;
}
.img-pad {
  padding-left: 9px;
  color: #d3bebc;
}
.card-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.compare {
  font-size: 14px;
  line-height: 11px;
  color: #138ecb;
  font-weight: 700;
  text-align: start;
}
.compare-img {
  margin-right: 15.53px;
}
.purchase-container {
  margin-top: 21px;
  background: #efeeea;
  height: 117px;
  /* border: 1px solid black; */
}
.purchase-para {
  padding: 40px 0px 16px 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 11px;
  color: #000000;
}
.bill {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #023047;
  padding-left: 20px;
}
.currency-span {
  color: #138ecb;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  padding-left: 13px;
}
.drop-icon {
  padding-left: 9.07px;
}
.list-container {
  /* padding: 25px; */
  border: 1px solid #dbd9d2;
}
.plan-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 12px;
}
.contact-list {
  padding-left: 28px;
  padding-bottom: 9px;
}
.email-list {
  padding-left: 28px;
  padding-bottom: 38px;
}
.btn-list {
  display: block;
  margin: 0 auto;
  background: #004e56;
  color: #fff;
  width: 96%;
  height: 46px;
  border: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 771px) {
  .select-class {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 591px) {
  .card-flex {
    /* display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px; */
    justify-content: space-around;
  }
  .select-class{
    padding: 0px 20px;
  }
}
@media screen and (max-width: 425px){
  .card-flex{
    /* width: 10%;
    margin-left: auto;
    margin-right: auto; */
    justify-content: space-around;

  }

}

